div.a {
background-color: rgb(0, 191, 255);

}
div.a1 {
background-color: rgb(0, 196, 300);
}
div.a2 {
background-color: rgb(0, 250, 255);
}
div.a3 {
background-color: rgb(60, 196, 350);
}
div.a4 {
background-color: rgb(150, 196, 255);
}
div.a5 {
background-color: rgb(0, 800, 255);
}
div.a6 {
background-color: rgb(12, 196, 600);
}
div.a7 {
background-color: rgb(12, 60, 0);
}
div.a8 {
background-color: rgb(1200, 700, 600);
}
div.a9 {
background-color: rgb(200, 196, 500);
}
div.a10 {
background-color: rgb(120, 196, 600);
}
div.a11 {
background-color: rgb(120, 1906, 1600);
}